.collection-preview
    padding: 3rem 0rem
    .container
        padding: 3rem 0rem
        display: grid
        grid-template-columns: repeat(5, 1fr)
        .text-wrapper h1
            font-size: 1rem
        img
            width: 100%
@media(max-width: 800px)
    .collection-preview
        padding: 1rem

    .collection-preview .container
        grid-template-columns: repeat(2, 1fr)
