.cart-message
    text-align: center
    font-size: 1.4rem
    text-transform: capitalize
    font-weight: 300

.cart-wrapper .container
    width: 800px
    img
        width: 300px
    .cart-unit
        display: flex
        .image-wrapper
            margin-right: 20px
        .content
            h1
                font-size: 1.2rem
                margin-bottom: 1rem
            p
                font-size: 1.2rem
                margin-bottom: 1rem
            button
                background: white
                padding: 1rem 3rem
                color: red
                cursor: pointer
                border: 1px solid red
                border-radius: 5px

.button-wrapper
    button, a
        background: black
        padding: 1rem 3rem
        color: white
        display: block
        width: 100%
        text-align: center
